.attribution {
  margin: 1.6rem 0 6rem;
  font-size: calc(1.1rem + 1.5vw);
  text-align: center;
  color: var(--color-aurometal-saurus);
  &__credit {
    font-weight: 800;
    color: var(--color-deep-aquamarine) !important;
  }
}
