@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-pure-white: #fff;
  --color-cream: #f2eae2;
  --color-aurometal-saurus: #6c7289;
  --color-deep-aquamarine: #3d8168;
  --color-deep-aquamarine-hover: #1a4032;
  --color-gunmetal: #1c232b;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100dvh;
  margin: 0;
  background-color: var(--color-cream);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: auto; /* or pointer if you want to keep the default hand cursor */
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/** 

	100 : Thin
	•	200 : Extra Light (Ultra Light)
	•	300 : Light
	•	400 : Normal
	•	500 : Medium
	•	600 : Semi Bold (Demi Bold)
	•	700 : Bold
	•	800 : Extra Bold (Ultra Bold)
	•	900 : Black (Heavy)

  */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 1.4rem;
}

.display {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 32px;
}

.overline {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--color-aurometal-saurus);
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-div2 {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.centered-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 17.5rem auto 3rem;
  max-width: 60rem;
}
@media (max-width: 37.5rem) {
  .container {
    flex-direction: column;
    margin: 2.8rem auto;
    max-width: 34.3rem;
    padding: 0;
  }
}

.card__img {
  max-width: 50%;
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 10px 0 0 10px;
}
@media (max-width: 37.5rem) {
  .card__img {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    object-fit: cover;
    max-height: 24rem;
  }
}
.card__body {
  max-width: 50%;
  padding: 3rem 3.2rem;
  background-color: var(--color-pure-white);
  border-radius: 0 10px 10px 0;
}
@media (max-width: 37.5rem) {
  .card__body {
    border-radius: 0 0 10px 10px;
    max-width: 100%;
    padding: 2.4rem;
  }
}
.card__body__category {
  margin-bottom: 1.2rem;
}
.card__body__productName {
  padding-right: 2rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 37.5rem) {
  .card__body__productName {
    padding-right: 0;
    margin-bottom: 1.6rem;
  }
}
.card__body__description {
  margin-bottom: 2.9rem;
  font-size: 1.4rem;
  font-weight: 500;
}
@media (max-width: 37.5rem) {
  .card__body__description {
    margin-bottom: 2.4rem;
  }
}
.card__body__price {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.9rem;
  margin-bottom: 3rem;
}
@media (max-width: 37.5rem) {
  .card__body__price {
    margin-bottom: 2rem;
  }
}
.card__body__price__discount {
  color: var(--color-deep-aquamarine);
}
.card__body__price__full {
  text-decoration: line-through;
  font-size: 1.3rem;
  color: var(--color-aurometal-saurus);
}
.card__body__btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  font-weight: 700;
  padding: 1.6rem 2.4rem 1.5rem;
  border: none;
  border-radius: 8px;
  color: var(--color-pure-white);
  background-color: var(--color-deep-aquamarine);
  transition: background-color 0.3s ease;
}
.card__body__btn:hover {
  background-color: var(--color-deep-aquamarine-hover);
  cursor: url("../../images/Pointer.png"), auto;
}

.attribution {
  margin: 1.6rem 0 6rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--color-aurometal-saurus);
}
.attribution__credit {
  font-weight: 800;
  color: var(--color-deep-aquamarine) !important;
}

/*# sourceMappingURL=style.css.map */
